@import '../../helper.scss';

section.Projects {
  padding-bottom: 5vh;

  // TODO: background
  background-color: lighten($color-light-pink, 30%);

  // Phones
  @media (min-width: 300px) {
    margin-top: 2vh;
    
    .content {
      margin-top: -5vh;

      h3 {
        width: 85%;

        font-family: $font-heading;
        color: $color-dark-grey;
        font-size: 1.25em;
        line-height: $font-line-height;

        a {
          text-decoration: underline solid $color-dark-grey 1px;
        }
      }

      .project-view {
        @include flexbox();
        @include flex-flow(column nowrap);
        @include justify-content(space-evenly);
        @include align-items(center);

        margin-right: 5vw;
        margin-top: -2vh;
        height: 62.5vh;
      }
    }
  }
  // Tablets
  @media (min-width: 756px) {
    margin-top: -2vh;

    .content {
      h3 {
        width: 70%;
        font-size: 1.25em;
        line-height: 2em;
      }

      .project-view {
        @include flex-flow(row wrap);
        @include justify-content(space-between);
        @include align-items(space-between);
        
        height: 35vh;
        margin-top: 2.5vh;
      }
    }
  }
  // MacBook (13") = 1280px
  @media (min-width: 1000px) {
    margin-top: -6vh;
    
    .content {
      margin-right: 7.5vw;

      h3 {
        width: 100%;
        font-size: 1.55em;
        letter-spacing: .075em;

        a::before {
          content: "\A";
          white-space: pre;
        }
      }

      .project-view {        
        height: 40vh;
      }
    }
  }
  // MacBook (15")
  @media (min-width: 1680px) {
    .content {
      h3 {
        font-size: 1.75em;
      }

      .project-view {        
        height: 45vh;
      }
    }
  }
  // Large Monitors+
  @media (min-width: 1900px) {
    margin-top: -2vh;

    .content {
      margin-right: 18vw;

      h3 {
        font-size: 1.75em;
      }

      .project-view {        
        height: 50vh;
      }
    }
  }
}