@import '../variables.scss';
@import '/css/hover-min.css';

section#Article {
  height: 100vh;
  
  h1 {
    margin-top: 5vh;
    font-size: 3em;
    color: $color-foreground;
  }

  div#cards {
    display: flex;
    @include flex-flow(row nowrap);
    @include justify-content(space-around);

    margin-top: 8vh;

    div.card {
      display: flex;
      @include flex-flow(column nowrap);
      @include justify-content(space-between);

      width: 25vw;
      min-height: 55vh;
      overflow: hidden;
    
      background-color: $color-background;
      border: 1px solid $color-medium-light;
      @include box-shadow(0 0 15px $color-medium-light);
    
      &.focus {
        @include box-shadow(0 0 20px $color-medium-dark);
        
        h2 {
          font-size: 2.25em;
        }
      }

      .top-crop {
        height: 25vh;
        overflow: hidden;
      }

      h2, p {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
      }

      h2 {
        font-size: 2em;
        line-height: $font-line-height;
        font-weight: lighter;
        margin-bottom: -.5em;
        transition: font-size .25s;
      }
      
      p {
        font-size: 1.75em;
        line-height: $font-line-height;
        color: #747474;

        margin-bottom: 2.5vh;
      }

      a {
        color: $color-dark;
        text-decoration: none;
        
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

