@import '../../helper.scss';

section.Welcome {
  .content {
    width: 70vw;

    .flex-container {
      @include flexbox();
      @include flex-flow(row nowrap);
      @include justify-content(space-between);
      @include align-items(flex-start);
    }

    h1 {
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 0.15em;
      font-family: $font-heading;
      font-weight: 700;

      background: linear-gradient(180deg, #CB7BBE 0%, #DC33C1 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      width: 80%;
      margin-top: -1vh;

      font-size: 26px;
      line-height: 55px;
      color: $color-white;
      font-family: $font-stack;
      font-weight: 300;
      text-align: justify;
    }

    button {
      height: 70px;
      width: 350px;

      background: linear-gradient(180deg, #EE74DA 55%, #DC33C1 100%);

      border: 1px solid $color-light-pink;
      border-radius: 60px;

      @include box-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));

      font-family: $font-stack;
      font-size: 20px;
      letter-spacing: 0.15em;
    }

    div.social-btns {
      width: 275px;
      margin-top: 4vh;

      @include flexbox();
      @include flex-flow(row nowrap);
      @include justify-content(space-between);
    }
    
    div.profile-photo {
      img {
        border-radius: 25px;
        border: 2px solid #292351;

        @include box-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));

        object-fit: cover;
        object-position: 20% 0;

        height: 480px;
        width: 435px;
      }
    }
  }
}