@import '../../helper.scss';

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes wavy {
  0% {
    transform: translateY(0.15em);
  }
  60% {
    transform: translateY(-0.15em);
  }
  100% {
    transform: translateY(0.15em);
  }
}

section.Welcome {
  // Phones
  @media (min-width: 300px) {
    .content {
      width: 90.5vw;
      padding-right: 2.5vw;

      h1 {
        font-size: 1.55em;
        line-height: 1.35em;
        letter-spacing: 0.15em;
        font-family: $font-heading;
        font-weight: 700;

        background: linear-gradient(180deg, #CB7BBE 5%, #DC33C1 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h2 {
        width: 70vw;
        margin-top: -2vh;

        font-size: 1.35em;
        line-height: 1.25em;
        color: $color-white;
        font-family: $font-stack;
        font-weight: 300;
      }

      button.animated {
        padding: 1em 1em 1em 1em;

        background: linear-gradient(270deg, #DC33C1 0%, #EE74D7 28.13%, #F189DE 46.19%, #F58FE5 58.33%, #EE74D7 74.07%, #DC33C1 100%);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;

        border: 1px solid $color-light-pink;
        border-radius: 60px;

        @include box-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));

        font-family: $font-stack;
        font-size: 1em;
        letter-spacing: 0.15em;

        &:hover {
          cursor: pointer;
          transform: scale(102%);

          span {
            animation: wavy .5s ease-in-out infinite;

            @for $i from 1 to 20 {
              &:nth-of-type(#{$i}){ animation-delay: $i * .025s; }
            }
          }
        }

        span {
          display: inline-block;
        }
      }

      div.social-btns {
        width: 50vw;
        margin-top: 2.25vh;

        @include flexbox();
        @include flex-flow(row nowrap);
        @include justify-content(space-between);

        img {
          height: 35px;
          width: 35px;
        }
      }

      .profile-photo img {
        display: none;
      }
    }
  }

  // Tablets
  @media (min-width: 756px) {
    .content {
      width: 80vw;
      padding-left: 2vw;
      padding-right: 5vw;

      .flex-container {
        height: 40vh;

        @include flexbox();
        @include flex-flow(row nowrap);
        @include justify-content(space-between);
        @include align-items(flex-start);
  
        div.left-content {
          width: 50vw;
          height: 25vh;

          @include flexbox();
          @include flex-flow(column nowrap);
          @include justify-content(space-evenly);
          @include align-items(flex-start);
          
          h2 {
            width: 90%;
            margin-top: 8vh;

            font-size: 1.25em;
            line-height: 1.75em;
            color: $color-white;
            font-family: $font-stack;
            font-weight: 300;
            text-align: justify;
          }

          button {
            padding: 1em 2em 1em 2em;

            font-size: 1em;
            letter-spacing: 0.15em;
          }

          div.social-btns {
            width: 30vw;
            margin-top: 3vh;

            @include flexbox();
            @include flex-flow(row nowrap);
            @include justify-content(space-between);

            img {
              height: 40px;
              width: 40px;
            }
          }
        }

        .profile-photo img {         
          display: inline-block;

          border-radius: 25px;
          border: 2px solid #292351;
  
          @include box-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  
          object-fit: cover;
          object-position: 20% 0;
  
          height: 35vh;
          width: 30vw;
        }
      }
    }
  }

  // MacBook (13") = 1280px x 800px
  @media (min-width: 1000px) {
    .content {
      width: 70vw;
      overflow: hidden;

      h1 {
        font-size: 2.2em;
        line-height: 1.75em;
      }

      .flex-container {
        height: 60vh;
        margin-top: -1vh;

        div.left-content {
          width: 60vw;
          height: 50vh;

          h2 {
            width: 85%;
            margin-top: -1vh;

            font-size: 1.75em;
            line-height: 1.7em;
          }

          button {
            padding: 1em 2em 1em 2em;

            font-size: 1.25em;
          }

          div.social-btns {
            width: 25vw;
            margin-top: 4vh;

            img {
              height: 50px;
              width: 50px;
            }
          }
        }

        .profile-photo img {         
          object-position: 40% 0;

          height: 55vh;
          width: 30vw;
        }
      }
    }
  }

  // MacBook (15") = 1680px x 1050px
  @media (min-width: 1680px) {
    .content {
      width: 60vw;

      h1 {
        font-size: 2.2em;
        line-height: 1.75em;
      }

      .flex-container {
        height: 80vh;

        div.left-content {
          width: 60vw;
          height: 50vh;

          h2 {
            width: 80%;
            margin-top: 1vh;

            font-size: 1.75em;
            line-height: 2em;
          }

          button {
            padding: 1em 2em 1em 2em;

            font-size: 1.25em;
          }

          div.social-btns {
            width: 20vw;
            margin-top: 4vh;

            img {
              height: 60px;
              width: 60px;
            }
          }
        }

        .profile-photo img {         
          object-position: 40% 0;
  
          height: 55vh;
          width: 30vw;
        }
      }
    }
  }

  // Large Monitors+
  @media (min-width: 1900px) {
    .content {
      width: 50vw;

      h1 {
        width: 90%;
        font-size: 2.2em;
        line-height: 1.75em;
      }

      .flex-container {
        height: 50vh;
        margin-top: -1vh;

        div.left-content {
          height: 40vh;

          h2 {
            width: 80%;
            margin-top: 6vh;

            font-size: 1.75em;
            line-height: 1.6em;
          }

          button {
            padding: 1em 2em 1em 2em;

            font-size: 1.3em;
            letter-spacing: 0.15em;
          }

          div.social-btns {
            width: 20vw;
            margin-top: 4vh;

            img {
              height: 50px;
              width: 50px;
            }
          }
        }

        .profile-photo img {  
          object-position: 40% 0;
  
          height: 50vh;
          width: 25vw;
        }
      }
    }
  }
}
