@import '../../helper.scss';

.Navigation {
  position: fixed;

  padding-top: 10vh;
  width: 15vw;

  color: $color-white;
  letter-spacing: 0.15em;
  line-height: 32px;



  // TODO:
  // Add `ul li a p` hover style
}