@import '../../helper.scss';

section.Timeline {
  // Phones
  @media (min-width: 300px) {
    background-color: $color-light-grey;

    padding-bottom: 5vh;
  }
  // Tablets
  @media (min-width: 756px) {
    position: relative;
    overflow: hidden;

    &::before {
      content: ' ';
      position: absolute;
      z-index: 0;

      margin-top: 2%;
      width: 2px;
      background-color: $color-medium-purple;
      height: var(--timeline-height);
      left: 20vw;
    }

    div.content {
      margin-left: 5vw;
    }
  }
  // MacBook (13") = 1280px x 800px
  @media (min-width: 1000px) {
    &::before {
      width: 4px;
      left: 55vw;
    }
  }
  // MacBook (15") = 1680px x 1050px
  @media (min-width: 1680px) {
    &::before {
      left: 53vw;
    }
  }
  // Large Monitors
  @media (min-width: 1900px) {
    &::before {
      left: 50.5vw;
    }
  }
}