@import '../../helper.scss';

section#Footer {
  // Phones
  @media (min-width: 300px) {
    margin-left: -5vw;
    margin-bottom: 2vh;
    div.social-btns {
      @include flexbox();
      @include flex-flow(row nowrap);
      @include justify-content(center);
      div.social-btn {
        margin: 3vw;
      }
    }
    p {
      margin-bottom: 5vh;

      color: white;
      text-align: center;
      font-size: 1.15em;
      letter-spacing: .125em;
    }
  }
  // Tablets
  @media (min-width: 756px) {
    margin-left: -15vw;
    
    @include flexbox();
    @include flex-flow(column nowrap);
    @include align-items(center);

    div.social-btns {
      margin-bottom: 1vh;
      margin-top: -6vh;
    }
    p {
      display: inline;
      &:not(:last-child)::after {
        content: ' | ';
      }
    }
  }
  // MacBook (13") = 1280px
  @media (min-width: 1000px) {
    margin-top: -5vh;
    margin-bottom: 1vh;
    @include flex-flow(row nowrap);
    @include justify-content(center);
    @include align-items(center);
    
    div.social-btns {
      div.social-btn {
        margin: 1vw;
      }
      margin: 0;
      width: 30vw;
    }
    p {
      font-size: 1.25em;
      letter-spacing: .13em;
    }
  }
  // MacBook (15")
  @media (min-width: 1680px) {
    margin-top: -8vh;
    margin-bottom: 1vh;
  }
  // Large Monitors+
  @media (min-width: 1900px) {
    margin-left: -30vw;
  }
}