@import '../../../../helper.scss';

div.TimelineItem {
  // Phones
  @media (min-width: 300px) {
    width: 80vw;
    padding: 2vh;
    margin-bottom: 2vh;

    background: $color-white;
    @include box-shadow(0px 2px 5px 2px rgba(130, 131, 166, 0.25));

    div.content {
      h2 {
        font-size: 1.25em;
        line-height: 1.25em;
        letter-spacing: .075em;
        font-weight: 500;
        font-family: $font-heading;
        color: $color-dark-purple;
      }

      p {
        font-size: 1.2em;
        font-weight: 300;
        font-family: $font-stack;
      }
    }
  }
  // Tablets
  @media (min-width: 756px) {
    margin-left: 5vw;
    width: 65vw;

    div.content {
      margin-left: 0;
      padding: 1vw;
    }
  }
  // MacBook (13") = 1280px x 800px
  @media (min-width: 1000px) {
    div.content {

    }
  }
  // MacBook (15") = 1680px x 1050px
  @media (min-width: 1680px) {
    div.content {

    }
  }
  // Large Monitors+
  @media (min-width: 1900px) {
    div.content {

    }
  }
}