@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap");
.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 1;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white; }

html {
  background-color: lavenderblush; }

html body {
  margin: 2vh 2vw 2vw 2vh; }

html body div#SiteRouter {
  font-family: "Inconsolata", monospace, sans-serif;
  font-size: 16px;
  color: #333; }
