@import './variables.scss';

html {
  height: 100%;
  width: 100%;
  overflow:hidden;
  
  background-color: $color-primary;
  
  body {
    margin: 10vh 5vw 10vh 5vw;
    
    div#SiteRouter {
      font-family: $font-stack;
      font-size: $font-size;
      color: $color-dark;
      line-height: $font-line-height;
    }
  }
}
