@import './variables.scss';

html {
  background-color: $color-primary;
  
  body {
    margin: 2vh 2vw 2vw 2vh;
    
    div#SiteRouter {
      font-family: $font-stack;
      font-size: $font-size;
      color: $color-dark;
    }
  }
}
