@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap");
.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 1;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white; }
