@import '../variables.scss';
@import '/css/hover-min.css';

section#Project {
  height: 75vh;

  overflow-x: visible;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  div#header {
    width: 100vw;
    height: 5vh;

    position: fixed;
    z-index: 99;

    margin: -1vh 0 0 -5vw;

    background-color: $color-primary;

    h1 {
      font-size: 3em;
      color: $color-dark;
  
      margin: 0 0 0 5vw;
    }
  }

  div#cards {
    display: flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);

    margin-top: 10vh;

    div.card {
      display: flex;
      @include flex-flow(column nowrap);
      @include justify-content(space-between);

      width: 25vw;
      height: 55vh;
      overflow: hidden;

      margin-bottom: 12vh;
      padding-bottom: 1vh;

      background-color: $color-background;
      border: 1px solid $color-medium-light;
      @include box-shadow(0 0 15px $color-medium-light);

      scroll-snap-align: center;

      &.focus {
        @include box-shadow(0 0 20px $color-medium-dark);
        
        a {
          font-size: 1.25em;

          &:hover {
            font-weight: bold;
          }
        }
      }
    
      div.top-crop {
        height: 25vh;
        overflow: hidden;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      div.view-links {
        width: 100%;

        display: flex;
        @include flex-flow(row nowrap);
        @include justify-content(space-around);
        @include align-items(flex-end);

        a {
          text-align: center;
          color: $color-dark;
          text-decoration: none;
          transition: font-size .25s;

          &:hover {
            font-size: 1.35em;
          }
        }
      }

      h2, p {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
      }

      h2 {
        font-size: 2em;
        line-height: $font-line-height;
        font-weight: lighter;
        margin-bottom: -.5em;
      }
      
      p {
        font-family: $font-sans;
        font-size: 1.25em;
        line-height: $font-line-height;
        color: #747474;

        margin-bottom: 2.5vh;

        &.tech {
          font-size: 1em;
          font-family: $font-stack;
        }
      }
    }
  }
}