@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap");
@import url(/css/hover-min.css);
.underline {
  border-bottom: 2px solid #ffd7e4;
  display: inline;
  line-height: inherit;
  text-shadow: inset 0 -0.175em white, inset 0 -0.175em white, inset 0 -0.175em white, inset 0 -0.175em white; }

section#Project {
  height: 75vh;
  overflow-x: visible;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; }

section#Project::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px; }

section#Project::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); }

section#Project div#header {
  width: 100vw;
  height: 5vh;
  position: fixed;
  z-index: 99;
  margin: -1vh 0 0 -5vw;
  background-color: lavenderblush; }

section#Project div#header h1 {
  font-size: 3em;
  color: #000;
  margin: 0 0 0 5vw; }

section#Project div#cards {
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  margin-top: 10vh; }

section#Project div#cards div.card {
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 25vw;
  height: 55vh;
  overflow: hidden;
  margin-bottom: 12vh;
  padding-bottom: 1vh;
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 15px #aaa;
  -moz-box-shadow: 0 0 15px #aaa;
  box-shadow: 0 0 15px #aaa;
  scroll-snap-align: center; }

section#Project div#cards div.card.focus {
  -webkit-box-shadow: 0 0 20px #505050;
  -moz-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050; }

section#Project div#cards div.card.focus a {
  font-size: 1.25em; }

section#Project div#cards div.card.focus a:hover {
  font-weight: bold; }

section#Project div#cards div.card div.top-crop {
  height: 25vh;
  overflow: hidden; }

section#Project div#cards div.card div.top-crop img {
  max-width: 100%;
  height: auto; }

section#Project div#cards div.card div.view-links {
  width: 100%;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end; }

section#Project div#cards div.card div.view-links a {
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: font-size .25s; }

section#Project div#cards div.card div.view-links a:hover {
  font-size: 1.35em; }

section#Project div#cards div.card h2, section#Project div#cards div.card p {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%; }

section#Project div#cards div.card h2 {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: lighter;
  margin-bottom: -.5em; }

section#Project div#cards div.card p {
  font-family: "Montserrat";
  font-size: 1.25em;
  line-height: 1.4em;
  color: #747474;
  margin-bottom: 2.5vh; }

section#Project div#cards div.card p.tech {
  font-size: 1em;
  font-family: "Inconsolata", monospace, sans-serif; }
